#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: $btn;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transform: translateY(0);
  transition: opacity 0.4s ease, visibility 0.5s ease, transform 0.5s ease;
}

#preloader.hidden {
  // opacity: 0;
  // transform: translateY(100vh);
  // visibility: hidden;

  .preloader-background {

    &-box {
      transition: opacity 0.3s ease-in-out, visibility 0.5s ease-in-out, transform 0.9s ease-in-out,
        border-radius 0.5s ease-in-out;
      visibility: hidden;
      // border-radius: 100%;
      opacity: 0;

      &:nth-child(1) {
        transform: translate(-200%, -200%);
      }

      &:nth-child(2) {
        transform: translate(200%, -200%);
      }

      &:nth-child(3) {
        transform: translate(-200%, 200%);
      }

      &:nth-child(4) {
        transform: translate(200%, 200%);
      }
    }

    &::before {
      // transform: translate(-200%, -200%);
    }
  }
}

.preloader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.preloader-spinner {
  width: px(120);
  height: auto;
  // margin-bottom: px(20);
}

.preloader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &-box {
    position: absolute;
    width: 50%;
    height: 50%;
    background: $orange;
    transform: translateX(0);

    &:nth-child(1),
    &:nth-child(2) {
      top: 0;
      transition: transform 0.8s ease-in-out;
    }

    &:nth-child(3),
    &:nth-child(4) {
      bottom: 0;
      transition: transform 0.8s ease-in-out;
    }

    &:nth-child(1),
    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(2),
    &:nth-child(4) {
      right: 0;
    }
  }
}

.preloader-text {
  display: none;
  font-size: px(18);
  color: $white;
}

/***************************************************
 * Generated by SVG Artista on 11/15/2025, 9:51:15 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

svg.active .svg-elem-1 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
}

svg.active .svg-elem-2 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.active .svg-elem-3 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
}

svg.active .svg-elem-4 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-5 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
}

svg.active .svg-elem-5 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-6 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
}

svg.active .svg-elem-6 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-7 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.active .svg-elem-7 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-8 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
}

svg.active .svg-elem-8 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-9 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

svg.active .svg-elem-9 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-10 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
}

svg.active .svg-elem-10 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-11 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-11 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-12 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
}

svg.active .svg-elem-12 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-13 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
}

svg.active .svg-elem-13 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-14 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

svg.active .svg-elem-14 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-15 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-15 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-16 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
}

svg.active .svg-elem-16 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-17 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-17 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-18 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
}

svg.active .svg-elem-18 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-19 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-19 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-20 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
}

svg.active .svg-elem-20 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-21 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-21 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-22 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
}

svg.active .svg-elem-22 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-23 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-23 {
  fill: rgb(255, 255, 255);
}