:root {
  --animation-duration: 0.7s;
  --tile-size: 80px;
}

/* Стили прелоадера */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: hidden;
}

.mosaic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, px(80));
  grid-auto-rows: px(80);
}

.mosaic-tile {
  background-color: $orange;
  opacity: 1;
  transition: opacity var(--animation-duration) ease;
}

.preloader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.preloader-spinner {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.preloader-text {
  display: none;
  font-size: px(18);
  color: $white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Анимация исчезновения */
#preloader.hidden .mosaic-tile {
  opacity: 0;
}

/* #preloader.hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
      } */

svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

svg.active .svg-elem-1 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.15000000000000002s;
}

svg.active .svg-elem-2 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.active .svg-elem-3 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.25s;
}

svg.active .svg-elem-4 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-5 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.30000000000000004s;
}

svg.active .svg-elem-5 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-6 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.35s;
}

svg.active .svg-elem-6 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-7 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.active .svg-elem-7 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-8 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.45000000000000007s;
}

svg.active .svg-elem-8 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-9 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

svg.active .svg-elem-9 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-10 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.55s;
}

svg.active .svg-elem-10 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-11 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-11 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-12 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.65s;
}

svg.active .svg-elem-12 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-13 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
}

svg.active .svg-elem-13 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-14 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

svg.active .svg-elem-14 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-15 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-15 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-16 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.85s;
}

svg.active .svg-elem-16 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-17 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-17 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-18 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9500000000000001s;
}

svg.active .svg-elem-18 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-19 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-19 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-20 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s;
}

svg.active .svg-elem-20 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-21 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-21 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-22 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1500000000000001s;
}

svg.active .svg-elem-22 {
  fill: rgb(255, 255, 255);
}

svg .svg-elem-23 {
  fill: transparent;
  -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-23 {
  fill: rgb(255, 255, 255);
}